/* Align Icos to the left */
#subastas .items .item {
  display: flex;
  text-align: left;
}

/* Position Icon */
#subastas .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {



    #clients .items div {
        display: block;
        flex-direction: row;
        margin: auto;

    }

    #clients .items img {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 1rem;
    }


}

